In [ ]:
!pip install langid

import pandas as pd

#Cleaning Titles
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer
from nltk.corpus.reader.wordnet import FreqDist
from nltk.stem import 	WordNetLemmatizer
from nltk.corpus import stopwords
import string
import re

#select language
import langid

#Split model
from sklearn.model_selection import train_test_split

# Regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

# Classification - is_expensive y/n
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from nltk.classify.decisiontree import DecisionTreeClassifier
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

#from sklearn.linear_model import LogisticRegression
#from sklearn.neighbors import KNeighborsClassifier
#from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

# Unsupervised
from sklearn.neighbors import NearestNeighbors

# Standardization
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Cross Validation
from sklearn.model_selection import cross_validate

# Grid Search, Random Search
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

import seaborn as sns
import matplotlib.pyplot as plt
from wordcloud import WordCloud




nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('vader_lexicon')

sia=SentimentIntensityAnalyzer()
stop_words = nltk.corpus.stopwords.words('english')
stop_words.remove('not')
stop_words.extend(['mr.'])
punctuation = string.punctuation  
wordnet_lemmatizer = WordNetLemmatizer()

#Data

In [ ]:
#link1='https://datasets.imdbws.com/name.basics.tsv.gz'   #Check
#name=pd.read_csv(link1, sep="\t", compression='gzip')
#name

In [ ]:
#link2='https://datasets.imdbws.com/title.akas.tsv.gz'
#title_df=pd.read_csv(link2, sep="\t", compression='gzip')
#title_df

In [ ]:
#title_df3[]

In [ ]:
#link4='https://datasets.imdbws.com/title.crew.tsv.gz'    #Check
#title_df4=pd.read_csv(link4, sep="\t", compression='gzip')
#title_df4

In [ ]:
#link5='https://datasets.imdbws.com/title.episode.tsv.gz'    #check
#title_df5=pd.read_csv(link5, sep="\t", compression='gzip')
#title_df5

In [ ]:
#link6='https://datasets.imdbws.com/title.principals.tsv.gz'
#title_df6=pd.read_csv(link6, sep="\t", compression='gzip')
#title_df6

#Work from here

In [ ]:
#link3='https://datasets.imdbws.com/title.basics.tsv.gz'    #Check
#title_df3=pd.read_csv(link3, sep="\t", compression='gzip')
#title_df3

In [ ]:
#link7='https://datasets.imdbws.com/title.ratings.tsv.gz'      #check
#title_df7=pd.read_csv(link7, sep="\t", compression='gzip')
#title_df7

In [ ]:
#movies_rat=title_df3.merge(title_df7,left_on='tconst', right_on='tconst')

In [ ]:
#movies_rat=movies_rat.dropna()

In [ ]:
#movies_rat['numVotes'].sum()
#(7804*100)/1360483912

In [ ]:
#Percentage of Numvotes to use = 0.0005736194254974769 = 7804

#Filter by number of votes
#movies_rat=movies_rat[movies_rat['numVotes']>7804]

#grab online movies in english
#langid.set_languages(['en','fr', 'it', 'sv', 'es', 'zh', 'pt'])
#movies_rat['lang'] = movies_rat['primaryTitle'].apply(lambda x: langid.classify(x)[0])
#movies_rat = movies_rat[movies_rat['lang']=='en']
#movies_rat = movies_rat.drop(columns=['lang'])

In [ ]:
##Cleaning Titles
#def titles (col):
  
#  pattern= r"^\s+"
#  col=re.sub(pattern,"", col)
  
#  pattern2=r"\'\w*"
#  col=re.sub(pattern2, "", col)

  #pattern3=r'\b\w{2}\b'
  #col=re.sub(pattern3, "", col)

#  pattern4=r'\d+'
#  col=re.sub(pattern4, "", col)

  #turn lower
#  col=col.lower()

  #First Word Tokenize
#  col = nltk.word_tokenize(col)

  # Remove Punctuation and Stopwords
#  col = list(filter(lambda w: (w not in punctuation+'...') and (w not in stop_words), col))

  ## Lemmatizing
#  col = list(map(lambda z: wordnet_lemmatizer.lemmatize(z), col))
#  return ' '.join(col)

#movies_rat['Titles']=movies_rat['primaryTitle'].apply(titles)#lambda g:titles(titles_bygenres[(titles_bygenres['genres']==g['genre']) & (titles_bygenres['averageRating']>=g['Count_Rating'])]['primaryTitle']), axis=1)

#and [titles_bygenres['averageRating']>=genres_df['Count_Rating']

In [ ]:
#Sentiment Analysis of Titles
#movies_rat['pos']=movies_rat['Titles'].apply(lambda t: sia.polarity_scores(t)['pos'])
#movies_rat['neg']=movies_rat['Titles'].apply(lambda t: sia.polarity_scores(t)['neg'])
#movies_rat['neu']=movies_rat['Titles'].apply(lambda t: sia.polarity_scores(t)['neu'])
#movies_rat['compound']=movies_rat['Titles']. apply(lambda a: sia.polarity_scores(a)['compound'])

In [ ]:
#movies_rat

In [ ]:
#movies_rat['genres']=movies_rat['genres'].str.split(",", n=4, expand=False)
#movies_rat=movies_rat.explode('genres')

In [ ]:

#movies_rat.to_csv('movies_explode_7.8Votes.csv', index=False)

##DataFrame saved

In [ ]:
''' 
DataFrame Without Exploded 12/05
'''
#movies_rat.to_csv('movies_noexplode.csv', index=False)#100:131]#['Titles'].iloc[0]

In [ ]:
''' 
DataFrame With Explode 12/05
'''
#movies_rat.to_csv('movs_rating.csv', index=False)

In [ ]:
''' 
DataFrame With Sentiment Analysis of each title and with explode genre 11/05
'''
#movies_rat.to_csv('SA_titles.csv', index=False)#['Titles']#.sum()

#My Analysis (start to use dataframe without Explode function)
-Data Sample

-pivot table

-explode genres

In [ ]:
#movies_rat.head(5)

In [ ]:
#movies_sample=movies_rat.sample(n=10000, random_state=42, weights='averageRating')

In [ ]:
#movies_sample['averageRating'].value_counts().describe()

In [ ]:
#function per averrating
#if count of average count is <

In [ ]:
#PIVOT TABLE

#df.pivot_table(index=["tconst"], columns="genres", aggfunc=lambda x: 1, fill_value=0).reset_index()

#For try to predict

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/RuiVelho/My-movie-review-prediction/main/tittles_sample_50_diretors.csv')
df.isna().sum()
#.iloc[:30]

In [ ]:
df.head(5)

#Pivot Table Genres

In [ ]:
#pd.pivot_table(genres_df, columns=[[]]'genres', 'tconst']], aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False, sort=True)

In [ ]:
#genres_pivot=pd.pivot_table(data=genres[["genres","tconst"]], columns="genres", index="tconst", aggfunc=lambda x: 1, fill_value=0).reset_index()

In [ ]:
#genres_pivot.to_csv('genres_pivot.csv', index=False)
#genres_pivot

#Merge everything
-pivot ators, directors, genres to main dataframe

In [ ]:
#pivot_dir_act=pd.read_csv('/content/merge_director_actor.csv')
#pivot_dir_act

In [ ]:
#all_data=pivot_dir_act.merge(genres_pivot, left_on='tconst', right_on='tconst')
#all_data

In [ ]:
#all_data.fillna(0, inplace=True)

#all_data.isna().sum()

In [ ]:
#all_data.to_csv('all_data.csv', index=False)

#Prediction

In [ ]:
all_data=pd.read_csv('/content/all_data.csv')

In [ ]:
all_data['runtimeMinutes'].replace({'\\N':0})
#df.replace({0: 10, 1: 100})
all_data['runtimeMinutes'] = pd.to_numeric(all_data['runtimeMinutes'], errors='coerce').astype('Int64')
type(all_data['runtimeMinutes'].iloc[0])

In [ ]:
X=all_data.select_dtypes('number').drop(columns=['averageRating', 'numVotes'])
y=all_data['averageRating']

X_train,X_test,y_train,y_test=train_test_split(X,y, train_size=0.8, random_state=42)

In [ ]:
X.columns

##Standart Scaler

In [ ]:
scaler = StandardScaler()
X_scaler=scaler.fit_transform(X_train)
#scaler=scaler.fit(X_train)
#X_scaler = scaler.transform(X_train, X_test)

pca = PCA(n_components = 0.75)
X_pca = pca.fit_transform(X_scaler)
X_pca.shape

#X_pca_df = pd.DataFrame(X_pca)
#X_pca_df['averageRating']=y

ValueError: ignored

In [ ]:
X_scaler_test=scaler.transform(X_test)
X_pca_test = pca.transform(X_scaler_test)

In [ ]:
lnreg = LinearRegression().fit(X_pca,y_train)
lnreg.score(X_pca_test, y_test)

##MinMax

In [ ]:
''''
minmax=MinMaxScaler()

X_minmaxscaller=minmax.fit_transform(X_train)
'''
#pca = PCA(n_components = 0.75)
#X_pca_minmax = pca.fit_transform(X_minmaxscaller)
#X_pca_minmax.shape

In [ ]:
#X_minmax_test=minmax.transform(X_test)
#X_pca_test_minmax = pca.transform(X_minmax_test)

In [ ]:
#lnreg = LinearRegression().fit(X_pca_minmax,y_train)
#lnreg.score(X_pca_test_minmax , y_test)

In [ ]:
y.nunique()

In [ ]:
from sklearn.pipeline import Pipeline

minmax = MinMaxScaler()
lnreg = LinearRegression()
pca = PCA(n_components = 0.75)
pipe_minmax_lr = Pipeline([('minmax', minmax),('pca',pca), ('lnreg', lnreg)])

pipe_minmax_lr.fit(X_train,y_train)
pipe_minmax_lr.score(X_test,y_test)

0.02751768195199411

In [ ]:
import pickle

# save the model to disk
filename = 'finalized_model.sav'
pickle.dump(pipe_minmax_lr, open(filename, 'wb'))

In [ ]:
#movies=pd.read_csv('https://raw.githubusercontent.com/RuiVelho/My-movie-review-prediction/main/movies_noexplode.csv')
#movies.drop(['endYear', 'genres','pos', 'neg', 'neu'], axis=1, inplace=True)
#movies

In [ ]:
#X1=movies[['isAdult','startYear','runtimeMinutes', 'numVotes','compound']]
#y1=movies['averageRating']

#X1_train,X1_test,y1_train,y1_test=train_test_split(X1,y1, train_size=0.8, random_state=42)

#lnreg1=LinearRegression().fit(X1_train, y1_train)
#lnreg1.transform(X1_test,y1_test)
#lnreg1.score(X1_test,y1_test)

In [ ]:
'''
# Classification (All estimators)
# Logistic Reg
logreg = LogisticRegression() # estimator
logreg_params = {'penalty': ['l2', None]}

# Scaler + Logistic Reg (pipeline)
scaler = StandardScaler()
logreg_scal = LogisticRegression()
pipe_scal_lr = Pipeline([('scaler', scaler), ('lr', logreg_scal)])
pipe_scal_lr_params = {'lr__penalty': ['l2', None]}

# MinmaxScaler + LogisticReg (pipeline)
minmax = MinMaxScaler()
logreg_minmax = LogisticRegression()
pipe_minmax_lr = Pipeline([('minmax', minmax), ('lr', logreg_minmax)])
pipe_minmax_lr_params = {'minmax__feature_range': [(0,1), (-1,1)], 'lr__penalty': ['l2', None]}

# Decision Tree Clas
dct=DecisionTreeClassifier()
dct_params={'criterion':['gini', 'entropy', 'log_loss']}

# Scaler + Desicion Tree C (pipeline)
scaler_dct = StandardScaler()
dct_scal= DecisionTreeClassifier()
pipeline_dct_scal = Pipeline([('scaler',scaler_dct), ('decision', dct_scal)])
pipe_scal_decisiont= {'criterion':['gini', 'entropy', 'log_loss']}

# MinmaxScaler + Desicion Tree C (pipeline)
minmax_dct = MinMaxScaler()
dct_minmax= DecisionTreeClassifier()
pipe_minmax_dct = Pipeline([('minmax', minmax_dct),('decision', dct_minmax)])
pipe_minmax_lr_params = {'minmax__feature_range': [(0,1), (-1,1)], 'criterion':['gini', 'entropy', 'log_loss']}
                           
# SVC
svc=svm.SVC()
svc_param={'kernel': ['linear', 'poly', 'rbf', 'sigmoid', 'precomputed']}

# Scaler + SVC (pipeline)
scaler_svc = StandardScaler()
svc_scal=svm.SVC()

# MinmaxScaler + SVC (pipeline)

# Knn
knn = KNeighborsClassifier()
knn_params = {'n_neighbors': range(2, 15)}

# Scaler + Knn (pipeline)

# MinmaxScaler + Knn (pipeline)

models_df = pd.DataFrame([(logreg, logreg_params), 
                          (pipe_scal_lr, pipe_scal_lr_params), 
                           (pipe_minmax_lr, pipe_minmax_lr_params),
                          (knn, knn_params)],   # Add here all other algorithms you want to try
                         columns = ['estimator', 'params'])
'''

"\n# Classification (All estimators)\n# Logistic Reg\nlogreg = LogisticRegression() # estimator\nlogreg_params = {'penalty': ['l2', None]}\n\n# Scaler + Logistic Reg (pipeline)\nscaler = StandardScaler()\nlogreg_scal = LogisticRegression()\npipe_scal_lr = Pipeline([('scaler', scaler), ('lr', logreg_scal)])\npipe_scal_lr_params = {'lr__penalty': ['l2', None]}\n\n# MinmaxScaler + LogisticReg (pipeline)\nminmax = MinMaxScaler()\nlogreg_minmax = LogisticRegression()\npipe_minmax_lr = Pipeline([('minmax', minmax), ('lr', logreg_minmax)])\npipe_minmax_lr_params = {'minmax__feature_range': [(0,1), (-1,1)], 'lr__penalty': ['l2', None]}\n\n# Decision Tree Clas\ndct=DecisionTreeClassifier()\ndct_params={'criterion':['gini', 'entropy', 'log_loss']}\n\n# Scaler + Desicion Tree C (pipeline)\nscaler_dct = StandardScaler()\ndct_scal= DecisionTreeClassifier()\npipeline_dct_scal = Pipeline([('scaler',scaler_dct), ('decision', dct_scal)])\npipe_scal_decisiont= {'criterion':['gini', 'entropy', 'log_loss']}\n\n# MinmaxScaler + Desicion Tree C (pipeline)\nminmax_dct = MinMaxScaler()\ndct_minmax= DecisionTreeClassifier()\npipe_minmax_dct = Pipeline([('minmax', minmax_dct),('decision', dct_minmax)])\npipe_minmax_lr_params = {'minmax__feature_range': [(0,1), (-1,1)], 'criterion':['gini', 'entropy', 'log_loss']}\n                           \n# SVC\nsvc=svm.SVC()\nsvc_param={'kernel': ['linear', 'poly', 'rbf', 'sigmoid', 'precomputed']}\n\n# Scaler + SVC (pipeline)\nscaler_svc = StandardScaler()\nsvc_scal=svm.SVC()\n\n# MinmaxScaler + SVC (pipeline)\n\n# Knn\nknn = KNeighborsClassifier()\nknn_params = {'n_neighbors': range(2, 15)}\n\n# Scaler + Knn (pipeline)\n\n# MinmaxScaler + Knn (pipeline)\n\nmodels_df = pd.DataFrame([(logreg, logreg_params), \n                          (pipe_scal_lr, pipe_scal_lr_params), \n                           (pipe_minmax_lr, pipe_minmax_lr_params),\n                          (knn, knn_params)],   # Add here all other algorithms you want to try\n                         columns = ['estimator', 'params'])\n"

# Rating per each Genre and WordCloud

Pos Explode genre

In [ ]:
genres=pd.read_csv('https://raw.githubusercontent.com/RuiVelho/My-movie-review-prediction/main/movies_explode_7.8Votes.csv')
genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,Titles,pos,neg,neu,compound
0,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,Documentary,7.4,12249,arrival train,0.0,0.0,1.0,0.0000
1,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,Short,7.4,12249,arrival train,0.0,0.0,1.0,0.0000
2,tt0000417,short,A Trip to the Moon,Le voyage dans la lune,0,1902,\N,13,Action,8.2,52299,trip moon,0.0,0.0,1.0,0.0000
3,tt0000417,short,A Trip to the Moon,Le voyage dans la lune,0,1902,\N,13,Adventure,8.2,52299,trip moon,0.0,0.0,1.0,0.0000
4,tt0000417,short,A Trip to the Moon,Le voyage dans la lune,0,1902,\N,13,Comedy,8.2,52299,trip moon,0.0,0.0,1.0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38809,tt9906260,tvEpisode,Hero,Hero,0,2019,\N,24,Adventure,9.9,101599,hero,1.0,0.0,0.0,0.5574
38810,tt9906260,tvEpisode,Hero,Hero,0,2019,\N,24,Animation,9.9,101599,hero,1.0,0.0,0.0,0.5574
38811,tt9907782,movie,The Cursed,Eight for Silver,0,2021,\N,111,Fantasy,6.2,13060,cursed,0.0,0.0,1.0,0.0000
38812,tt9907782,movie,The Cursed,Eight for Silver,0,2021,\N,111,Horror,6.2,13060,cursed,0.0,0.0,1.0,0.0000
38813,tt9907782,movie,The Cursed,Eight for Silver,0,2021,\N,111,Mystery,6.2,13060,cursed,0.0,0.0,1.0,0.0000

In [ ]:
#genres without classification
genres=genres[genres['genres']!=r'\N']
genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,Titles,pos,neg,neu,compound
0,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,Documentary,7.4,12249,arrival train,0.0,0.0,1.0,0.0000
1,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,Short,7.4,12249,arrival train,0.0,0.0,1.0,0.0000
2,tt0000417,short,A Trip to the Moon,Le voyage dans la lune,0,1902,\N,13,Action,8.2,52299,trip moon,0.0,0.0,1.0,0.0000
3,tt0000417,short,A Trip to the Moon,Le voyage dans la lune,0,1902,\N,13,Adventure,8.2,52299,trip moon,0.0,0.0,1.0,0.0000
4,tt0000417,short,A Trip to the Moon,Le voyage dans la lune,0,1902,\N,13,Comedy,8.2,52299,trip moon,0.0,0.0,1.0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38809,tt9906260,tvEpisode,Hero,Hero,0,2019,\N,24,Adventure,9.9,101599,hero,1.0,0.0,0.0,0.5574
38810,tt9906260,tvEpisode,Hero,Hero,0,2019,\N,24,Animation,9.9,101599,hero,1.0,0.0,0.0,0.5574
38811,tt9907782,movie,The Cursed,Eight for Silver,0,2021,\N,111,Fantasy,6.2,13060,cursed,0.0,0.0,1.0,0.0000
38812,tt9907782,movie,The Cursed,Eight for Silver,0,2021,\N,111,Horror,6.2,13060,cursed,0.0,0.0,1.0,0.0000
38813,tt9907782,movie,The Cursed,Eight for Silver,0,2021,\N,111,Mystery,6.2,13060,cursed,0.0,0.0,1.0,0.0000

##Calculate rating for each rating

In [ ]:
genres_df=genres['genres'].value_counts().reset_index()
genres_df.rename(columns={'index':'genre', 'genres':'count'}, inplace=True)
genres_df

          genre  count
0         Drama   8643
1        Comedy   5125
2        Action   3842
3         Crime   3171
4     Adventure   2844
5      Thriller   2287
6       Romance   2145
7        Horror   1787
8       Mystery   1620
9     Animation   1188
10      Fantasy   1142
11       Sci-Fi   1016
12    Biography    845
13       Family    711
14      History    533
15        Music    406
16  Documentary    397
17          War    309
18        Sport    283
19      Musical    154
20      Western    133
21    Film-Noir     80
22        Short     58
23   Reality-TV     39
24    Talk-Show     26
25    Game-Show     17
26         News     11
27        Adult      1

In [ ]:
def rating_category(general_df):
  #print(general_df.shape)
  return (general_df['averageRating']*general_df['numVotes']).sum()/general_df['numVotes'].sum()


genres_df['Count_Rating']=genres_df['genre'].apply(lambda g:rating_category(genres[genres['genres']==g]))
genres_df=genres_df.round({'Count_Rating':1})
genres_df

          genre  count  Count_Rating
0         Drama   8643           7.5
1        Comedy   5125           7.0
2        Action   3842           7.1
3         Crime   3171           7.4
4     Adventure   2844           7.3
5      Thriller   2287           7.1
6       Romance   2145           7.0
7        Horror   1787           6.7
8       Mystery   1620           7.2
9     Animation   1188           7.6
10      Fantasy   1142           7.1
11       Sci-Fi   1016           7.1
12    Biography    845           7.6
13       Family    711           7.0
14      History    533           7.7
15        Music    406           7.2
16  Documentary    397           7.8
17          War    309           7.8
18        Sport    283           7.1
19      Musical    154           7.1
20      Western    133           7.6
21    Film-Noir     80           7.9
22        Short     58           7.5
23   Reality-TV     39           6.9
24    Talk-Show     26           8.0
25    Game-Show     17           7.7
26         News     11           8.1
27        Adult      1           5.0

In [ ]:
genres_df.to_csv('genres_analysis.csv', index=False)

Grab all words of titles per each category

Do the sentiment analysis per each category

What are the most common words per genre

In [ ]:
def titles_genre(words):
  return list(genres['Titles'])

genres_df['words of titles']=genres_df['genre'].apply(lambda g:titles_genre(genres[(genres['genres']==g['genre'])]['Titles']))#, axis=1)

  #return (general_df['averageRating']*general_df['numVotes']).sum()/general_df['numVotes'].sum()

TypeError: ignored

In [ ]:
#genres[genres['genres']=='Comedy']
genres_df['words of titles']= genres_df.groupby('genre').agg(genres['Titles'].tolist)

In [ ]:
#genres_df.to_csv('genres_rating.csv', index=False)